@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #020617; /* slate-950 */
  color: #e5e7eb; /* slate-200 */
}

/* Scrollbar subtle styling (optional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 9999px;
}
